body,
td,
th,
select,
option,
input,
textarea,
label {
  font-size: 0.9em;
  font-family: 'Trebuchet MS', sans-serif;
}

html,
body,
div,
span,
applet,
object,
iframe,
blockquote,
button,
pre,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
input,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  padding: 0;
  margin: 0;
  border: 0;
  vertical-align: baseline;
  -webkit-margin-before: 0;
  margin-before: 0;
  -webkit-margin-after: 0;
  margin-after: 0;
  -webkit-margin-start: 0;
  margin-start: 0;
  -webkit-margin-end: 0;
  margin-end: 0;
  -webkit-margin-block-start: 0;
  margin-block-start: 0;
  -webkit-margin-block-end: 0;
  margin-block-end: 0;
  -webkit-padding-start: 0;
  padding-start: 0;
  -webkit-padding-end: 0;
  padding-end: 0;
  -webkit-padding-inline-start: 0;
  padding-inline-start: 0;
  -webkit-padding-inline-end: 0;
  padding-inline-end: 0;
}

.sticky-top {
  position: sticky;
  top: 0px;
}

.sticky-bottom {
  position: sticky;
  bottom: 0px;
}


body {
  min-height: 100vh;
  padding-top: 70px;
}

@media only screen and (min-width: 992px) {
  body {
    padding-top: 95px;
  }
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logincontent {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-image-wrapper {
  width: 100%;
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

#logincontent form div {
  position: relative;
  width: 100%;
  clear: both;
}

#logincontent form #logmein {
  text-align: center;
}

#logincontent form input {
  width: 100%;
  margin-bottom: 10px;
}

input[type='submit'] {
  cursor: pointer;
}

.relative {
  position: relative;
}

.underline-link {
  text-decoration: underline;
}

.underline-link:hover {
  text-decoration: none;
}

.writable-section {
  display: block;
  width: 100%;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.tui-editor-defaultUI {
  border: none !important;
}

.btn > svg {
  width: 14px;
  height: 14px;
}

.btn-brick {
  padding: 0.46875rem;
}

.mr-1 {
  margin-right: 0.25rem !important;
}

.header-form-wrapper {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 1rem;
}

.installer-header-wrapper {
  margin-bottom: 1.5rem;
}

/* ----- SWITCH ----- */

.header-switch {
  margin-left: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 1rem;
}

.toggle-control {
  display: block;
  position: relative;
  padding-left: 32px;
  margin-bottom: 16px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
  margin-right: 5px;
}

.toggle-control input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.toggle-control input:checked ~ .control {
  background-color: dodgerblue;
}

.toggle-control input:checked ~ .control:after {
  left: 18px;
}

.toggle-control .control {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 32px;
  border-radius: 15px;
  background-color: darkgray;
  transition: background-color 0.15s ease-in-out;
}
.toggle-control .control:after {
  content: "";
  position: absolute;
  left: 1px;
  top: 1px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: white;
  transition: left 0.15s ease-in-out;
}
.min-w-user-edit {
  min-width: 125px;
}

.header-switch-drop-label {
  margin-left: 8px;
}

/* FIXED NAVIGATION */

.navbar-fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1031;
  border-width: 0 0 1px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.navbar-nav-wrapper {
  flex-grow: 1;
}

.nav-link-active {
    font-weight: bold;
}

@media only screen and (max-width: 991px) {
  .search-in-main-menu {
    position: absolute;
    top: 0px;
    right: 4px;
  }
}

@media only screen and (min-width: 992px) {
  .search-in-main-menu {
    display: inline-block;
  }
}

.breadcrumbs-fixed-top {
  display: block;
}

@media only screen and (min-width: 992px) {
  .breadcrumbs-fixed-top {
    position: fixed;
    top: 59px;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: white;
  }
}

.breadcrumb-side-left,
.breadcrumb-side-right {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media only screen and (min-width: 768px) {
  .breadcrumb-side-left {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .breadcrumb-side-right {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
}

@media only screen and (min-width: 992px) {
  .breadcrumb-side-left,
  .breadcrumb-side-right {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  content: '';
  padding: 0;
  color: transparent;
}

.breadcrumb-item {
  font-size: 12px;
}

.breadcrumb-item.active {
  font-weight: bold;
}

/* ---- HEADER HELP ---- */

.help-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
	padding: 5px 15px;
	margin-top: 10px;
}

.help-card > p {
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
}

.help-card > img {
  border: 5px solid #0D0D0D;
  margin: 5px auto;
  width: 100px;
  height: auto;
  display: block;
}

/* ----- BUTTON UNDREAD INDICATOR ----- */

.unread_record {
    background-color:moccasin !important;
}

.unread-indicator{
  font-size: 0.75rem;
  color: #FFFFFF;
  background-color: #D92D2D;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  min-width: 1rem;
  height: 1rem;
  padding-left: 4px;
  padding-right: 4px;
  position: absolute;
}

@media only screen and (max-width: 992px) {

  .unread-indicator {
    top: 50%;
    transform: translateY(-50%);
    right: 4px;
  }
}

@media only screen and (min-width: 992px) {

  .unread-indicator {
    bottom: 20px;
    right: -8px;
  }
}

/* ------ CATEGORY HEADER NAVIGATION ------ */

.header-wrapper-left,
.header-wrapper-right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 8px;
}

@media only screen and (min-width: 768px) {

  .header-wrapper-left,
  .header-wrapper-right {
    flex-wrap: nowrap;
    margin-bottom: 0px;
  }

  .header-wrapper-left {
    justify-content: flex-start;
  }

  .header-wrapper-right {
    justify-content: flex-end;
  }

}

/* ------ PERSONS ------ */

.table-no-wrap,
.table-no-wrap-left,
.table-no-wrap-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 8px;
}

@media only screen and (min-width: 768px) {

  .table-no-wrap-left {
    justify-content: left;
  }

  .table-no-wrap-right {
    justify-content: right;
  }
}

@media only screen and (max-width: 768px) {
  .mobile-no-show {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  .tablet-no-show {
    display: none;
  }
}

.persons-specs {
  margin: 0;
  font-size: 12px;
}

@media only screen and (min-width: 992px) {
  .persons-specs {
    font-size: 14px;
  }
}

.persons-name {
  margin: 0 0 6px;
  font-size: 16px;
}

@media only screen and (max-width: 768px) {
  .persons-name {
    text-align: center;
  }
}

.persons-badge-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .persons-badge-wrapper {
    justify-content: flex-start;
  }
}

@media only screen and (min-width: 768px) {
  .table-sticky-header {
    background-color: #FFFFFF;
    position: sticky;
    top: 100px;
  }
}

.identity-main-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

@media only screen and (max-width: 768px) {
  .identity-main-wrapper {
    display: block;
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .persons-table-cell {
    display: block;
    max-width: 100%;
  }
}

.persons-image-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}

.persons-image-cropper {
  width: 75px;
  height: 75px;
  background-color: transparent;
  position: relative;
  overflow: hidden;
}

.persons-image-cropper > img {
  width: auto;
  height: 100%;
  position: absolute;
  max-height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

@media only screen and (max-width: 768px) {

  .persons-image-wrapper {
    justify-content: center;
    gap: 16px;
    width: 100%;
    margin-bottom: 8px;
  }

  .persons-image-cropper {
    width: 150px;
    height: 150px;
    background-color: transparent;
  }
}

.persons-identification-wrapper {
  margin-left: 8px;
  max-width: 250px;
}

@media only screen and (max-width: 768px) {
  .persons-identification-wrapper {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
}
