<div class="container-fluid mt-3 mb-3 mr-2 w-100">
    <div class="row mb-1">
	<div class="col-6 text-left">
                <h4>
                        {$text['existujicizalohy']}
                </h4>
                <h5>
                        <span class="small">
                                *odkazy nejsou platne, chybi handler
                        </span>
                </h5>
	</div>
        <div class="col-6 text-right">
                <a class="btn btn-info mt-2 ml-1 col-md-4 col-sm-12" href="/backup/now">{$text['zalohovatrucne']}</a>
        </div>
	</div>
    {if $backup == false}
        <div class="col-12">{$text['zalohynenalezeny']}</div>
    {else}
    <div class="row mb-1">
        <div class="col-12">
                <table class="table table-striped table-hover">
                        <thead>
                                <tr>
                                        <th>
                                                Název souboru
                                        </th>
                                        <th>
                                                Verze
                                        </th>
                                        <th>
                                                Datum vytvoření <a href="{$URL[0]}{$URL[1]}/?sort=time">&#8661;</a>
                                        </th>
                                        <th>
                                                Velikost souboru
                                        </th>
                                        <th>
                                                Akce
                                        </th>
                                </tr>
                        </thead>
                        <tbody>
                                {foreach $backup as $backupFile}
                                        <tr>
                                                <td>
                                                        {$text['bistro']}
                                                </td>
                                                <td>
                                                        v.{$backupFile['version']}
                                                </td>
                                                <td>
                                                        {$backupFile['datetime']}
                                                </td>
                                                <td>
                                                        {$backupFile['filesize']}
                                                </td>
                                                <td>
                                                        <a class="btn btn-sm {if @$backupFile['filesize']}  btn-primary{else} disabled btn-secondary {/if}" href="{$backupFile['file']}" alt="{$text[stahnoutzalohu]}">
                                        {php  echo file_get_contents("images/icons/download-solid.svg")}</a>
                                                </td>
                                        </tr>
                                {/foreach}
                        </tbody>
                </table>
        </div>
    </div>
    {/if}
</div>
