<div class="container-fluid mt-3 mb-3 mr-2 w-100">
    <div class="row mb-1">
		<div class="col-6 text-left">
			<h4>{$text['verejnanastenka']}</h4>
		</div>
		<div class="col-6 text-right">
		{if @$board_created}
			{$text['poslednizmena']}: {$board_created},
			{$text['zmenil']}: {$board_author}
		{/if}
		</div>
	</div>
	<div class="row">
        <div class="col-12" id="board"></div>
        <script>
        const editor = new toastui.Editor.factory({
                el: document.querySelector('#board'),
                initialValue: `{$board|noescape}`,
                viewer: true,
            });
        </script>
		</div>
	</div>
</div>
