<div class="container-fluid mt-3 mb-3 mr-2 w-100">
    <div class="row mb-1">
	    <div class="col-12 col-sm-6 text-left">
	        <h4>
                {$text[pripady]}
            </h4>
	    </div>
        <div class="col-12 col-sm-6 text-right">
            <form action="{$URL[0]}{$URL[1]}/" method="POST" id="filter" class="header-form-wrapper">
                <input type="hidden" name="filter[placeholder]" />
                <div class="header-switch">
                    <label class="toggle-control">
                        <input type="checkbox" name="filter[stat]" {if (isset($filter['stat']) AND $filter['stat'] == 'on') } checked {/if} onchange="this.form.submit()" />
                        <span class="control"></span>
                    </label>
                    {$text['iuzavrene']}
                </div>
                <div class="header-switch">
                    <label class="toggle-control">
                        <input type="checkbox" name="filter[new]" {if (isset($filter['new']) AND $filter['new'] == 'on') } checked{/if} onchange="this.form.submit()" />
                        <span class="control"></span>
                    </label>
                    {$text['jennove']}
                </div>
                <div class="header-switch">
                    <label class="toggle-control">
                        <input type="checkbox" name="filter[secret]" {if (isset($filter['secret']) AND $filter['secret'] == 'on') } checked {/if} onchange="this.form.submit()" />
                        <span class="control"></span>
                    </label>
                    {$text['itajne']}
                </div>
            </form>
        </div>
	</div>
    <div class="row mb-1">
        <div class="col-12">
            {if @$warning}
                <div>
                    {$warning}
                </div>
            {else}
                <div id="obsah">

                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>
                                {$text['nazev']} <a href="{$URL[0]}{$URL[1]}/?sort=title">&#8661;</a>
                            </th>
                            <th>{$text['stav']}</th>
                            <th>
                                {$text['vytvoreno']}  <a href="{$URL[0]}{$URL[1]}/?sort=created">&#8661;</a>
                            </th>
                            <th>
                                {$text['zmeneno']}  <a href="{$URL[0]}{$URL[1]}/?sort=datum">&#8661;</a>
                            </th>
                            <th>{$text['akce']}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {foreach $case_record as $cases}
                            <tr class="{if @$cases['unread']} unread_record{/if}{if $cases['status']} solved{/if}">
                                <td>
                                    <a href="/readcase.php?rid={$cases['id']}&amp;hidenotes=0">{$cases['title']}</a>
                                    {if $cases['secret']}
                                        <span class="badge rounded-pill bg-danger text-light">{$text['utajeno']|upper}</span>
                                    {/if}
                                </td>
                                <td>
                                    {if $cases['status']}
                                        <span class="badge rounded-pill bg-secondary text-light mb-1">{$text['uzavreny']}</span>
                                    {else}
                                        <span class="badge rounded-pill bg-success text-light mb-1">{$text['otevreny']}</span>
                                    {/if}
                                    {if $cases['deleted']}
                                        <span class="badge rounded-pill bg-warning text-dark mb-1">{$text['smazany']}</span>
                                    {/if}
                                </td>
                                <td>
                                    {if $cases['caseCreated']} {$cases['caseCreated']|date:'%d.%m.%Y'}{else}<em>{$text['neznamo']}</em>{/if}
                                </td>
                                <td><em>{$cases['date_changed']|date:'%d.%m.%Y'}</em></td>
                                <td>
                                    {if $user['aclCase'] AND !$cases['deleted']}
                                        <a class="btn btn-sm btn-info btn-brick mb-1" href="/editcase.php?rid={$cases['id']}" alt="{$text[editpripad]}">
                                            {php  echo file_get_contents("images/icons/edit-solid.svg")}
                                        </a>
                                    {/if}
                                    {if !$cases['deleted']}
                                        <a class="btn btn-sm  btn-info mb-1" href="/newnote.php?rid={$cases['id']}&idtable=7">přidat poznámku</a>
                                    {/if}
                                    {if $user['aclRoot'] AND !$cases['deleted']}
                                        <a class="btn btn-sm btn-brick btn-danger mb-1" href="/cases/delete/{$cases['id']}" onclick="return confirm('{$text['opravdusmazatpripad']} &quot; {$cases['title']|stripHtml}&quot;?');" alt="{$text[smazatpripad]}">{php echo file_get_contents("images/icons/trash-solid.svg")}</a>
                                    {/if}
                                    {if $user['aclRoot'] AND $cases['deleted']}
                                        <a class="btn btn-sm btn-success mb-1" href="/cases/restore/{$cases['id']}" onclick="return confirm('{$text['opravduobnovitpripad']} &quot; {$cases['title']|stripHtml}&quot;?');" alt="{$text[obnovitpripad]}">{php echo file_get_contents("images/icons/recycle.svg")}</a>
                                    {/if}
                                </td>
                            </tr>
                        {/foreach}
                    </tbody>
                </table>
            {/if}
        </div>
    </div>
</div>
