{php
    header("Cache-Control: no-cache, no-store, must-revalidate");
    header("Pragma: no-cache");
    header("Expires: -1");
}<html lang="cs-CZ">
<head>
  <meta charset="UTF-8">
	<meta name="Author" content="Karel Křemel, David Ambeřan Maleček, Jarda Ernedar Fišer, Jakub Ethan Kraft">
	<meta name="Copyright" content="2006 - 2019">
	<meta name="description" content="city larp management system">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{@$title} | {$text[bistro]} {$config[version]}</title>
	<!--[if lt IE 7]><style type="text/css">body \{ behavior: url('./inc/csshover.htc');\}</style><![endif]-->
	<link media="all" rel="stylesheet" type="text/css" href="./css/latte.css" />
	<link media="all" rel="stylesheet" type="text/css" href="./css/styly.css" />
</head>
<body>
	<div id="wrapper">
