{php
    header("Cache-Control: no-cache, no-store, must-revalidate");
    header("Pragma: no-cache");
    header("Expires: -1");
}<html lang="cs-CZ">
<head>
  <meta charset="UTF-8">
	<meta name="Author" content="Karel Křemel, David Ambeřan Maleček, Jarda Ernedar Fišer, Jakub Ethan Kraft">
	<meta name="Copyright" content="2006 - 2021">
	<meta name="description" content="city larp management system">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{@$title} {@$user['userName']}@{$text[bistro]} {$config[version]}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.css"></link>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github.min.css"></link>
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
<!--[if lt IE 7]><style type="text/css">body \{ behavior: url('{$URL[0]}css/csshover.htc');\}</style><![endif]-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link media="all" rel="stylesheet" type="text/css" href="{$URL[0]}css/latte.css" />
</head>
<body>
