<div id="wrapper">
    <div id="logincontent">
        <div id="loginmiddle" class="card">
            <div class="card-body">
                <div class="login-image-wrapper" id="dh">
                    <img src="custom/logo-{$config[themeCustom]}.gif" />
                </div>
                <form action="{$URL[0]}" method="post">
                    <div>
                        <input class="form-control" type="text" name="loginname" id="loginname" tabindex="1" placeholder="{$text[jmeno]}">
                    </div>
                    <div>
                        <input class="form-control" type="password" name="loginpwd" id="loginpwd" tabindex="2" placeholder="{$text[heslo]}">
                    </div>
                    <div id="logmein">
                        <input type="submit" class="btn btn-dark" name="logmein" value="{$text[prihlasit]}" tabindex="3">
                    </div>
                </form>
            </div>
        </div>
        <button type="button" class="btn btn-light help-card" data-toggle="modal" data-target="#bistroHelp">
            <p>help wanted</p>
            <img src="images/helpwanted.png" />
            <p>click for info</p>
        </button>
    </div>

    <div class="modal fade" id="bistroHelp" tabindex="-1" role="dialog" aria-labelledby="bistroHelpLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="bistroHelpLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Bistro tě potřebuje!</p>
                    <p>Jak sis určitě všiml Bistro není žádný ucelený profesionální produkt, navíc v tuto chvíli vypadají jednotlivé části úplně jinak než ostatní. To je způsobeno naší snahou přepsat grafické rozhraní do podoby použitelné i na mobilních telefonech. Snaha přepsat uživatelský interface nám ale ukázala, že spousta kódu potřebuje přepsat.</p>
                    <p>A to je přesně místo kde se ukazuje, že přepisovat Bistro ve dvou (jeden PHP, druhý HTML/CSS) trvá mnohem déle, než by se nám líbilo a výrazně to snižuje komfort uživatelů. Proto teď hledáme pomoc, hodili by se nám další programátoři ale i stálí testeři.</p>
                    <br/>
                    <p>Počátek historie tohoto projektu leží někdy v roce 2006 pro první Hlídky, ještě jako Dies Irae larp. Tehdy Ethan napsal základ funkcionality v PHP (tehdy ve verzi 5). Když Bistro převzal Ambeřan začal verzovat zdrojový kód. Spolu s Atlanem přidal spoustu další funkcionality. O pár let později se přidal Ernedar. Koncem roku 2018 Charles upravil kód aby fungoval s PHP 7 a ve snaze pochopit fungování celého systému začal s refaktorizací celého kódu. S tím právě přišla i myšlenka na nové UI, na kterém se pomalu začalo pracovat a právě tam jsme teď.</p>
                    <p>V tuto chvílí cílíme na tyto technologie PHP 7, MariaDB, Bootstrap, Latte a tui.editor. Samozřejmě, že by šlo vše napsat na zelené louce s mobilní aplikací a vším, ale na to čas a energii opravdu nemáme.</p>
                    <p>Umíš s PHP? Pomůžeš? Více informací o stavu projektu je k dohledání na <a href="https://gitlab.com/alembiq/bistro/">GitLabu</a>.</p>
                    <p>P.S. pokud neumíš programovat, ale i tak chceš pomoci, vždycky nám můžeš pomoct s testováním.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{$text['zavrit']}</button>
                </div>
            </div>
        </div>
    </div>
</div>
