<div class="container-fluid mt-3 mb-3 mr-2 w-100">
    <div class="row mb-1">
        <div class="col-6 text-left">
            <h4>
                {$text['vytvorituzivatele']}
            </h4>
        </div>
        <div class="col-6 text-right">
        </div>
    </div>
    <form action="/users" method="post">
        <div class="row mb-2">
            <div class="col-12 col-md-3">
                <label class="mt-3" for="login">
                    {$text['uzivatelskejmeno']}:
                </label>
                <input class="form-control" type="text" name="login" id="login" />
            </div>
            <div class="col-12 col-md-3">
                <label class="mt-3" for="heslo">
                    {$text['heslo']}:
                </label>
                <input class="form-control" type="text" name="heslo" id="heslo" value="{$new_password}" />
            </div>
            <div class="col-12 col-md-3">
                <label class="mt-3" for="email">
                    {$text['email']}:
                </label>
                <input class="form-control" type="text" name="email" id="email" />
            </div>
            <div class="col-12 col-md-3">
                <label class="mt-3" for="login">
                    {$text['cisloosoby']}:
                </label>
                <select class="form-control" name="idperson" id="idperson">
                    <option value=""> ??? </option>
                    {foreach $person as $persona}
                        <option value="{$persona[0]}">{$persona[1]}, {$persona[2]}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-12">
                {$text['prava']}
            </div>
                <div class="col-3">
                    <div class="input-group mb-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text min-w-user-edit">
                                {$text[aclReport]}
                            </span>
                        </div>
                        <div class="input-group-append" style="flex-grow: 1;">
                            <select class="w-100" name="aclReport" id="aclReport">
                                <option value="0" {if $userEdit['aclReport'] == 0 } selected="selected"{/if}>{$text['cteni']}</option>
                                <option value="1" {if $userEdit['aclReport'] == 1} selected="selected"{/if}>{$text['zapis']}</option>
                                <option value="2" {if $userEdit['aclReport'] == 2} selected="selected"{/if}>{$text['spravce']}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="input-group mb-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text min-w-user-edit">
                                {$text[aclPerson]}
                            </span>
                        </div>
                        <div class="input-group-append" style="flex-grow: 1;">
                            <select class="w-100" name="aclPerson" id="aclPerson">
                                <option value="0" {if $userEdit['aclPerson'] == 0 } selected="selected"{/if}>{$text['cteni']}</option>
                                <option value="1" {if $userEdit['aclPerson'] == 1} selected="selected"{/if}>{$text['zapis']}</option>
                                <option value="2" {if $userEdit['aclPerson'] == 2} selected="selected"{/if}>{$text['spravce']}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="input-group mb-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text min-w-user-edit">
                                {$text[aclCase]}
                            </span>
                        </div>
                        <div class="input-group-append" style="flex-grow: 1;">
                            <select class="w-100" name="aclCase" id="aclCase">
                                <option value="0" {if $userEdit['aclCase'] == 0 } selected="selected"{/if}>{$text['cteni']}</option>
                                <option value="1" {if $userEdit['aclCase'] == 1} selected="selected"{/if}>{$text['zapis']}</option>
                                <option value="2" {if $userEdit['aclCase'] == 2} selected="selected"{/if}>{$text['spravce']}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="input-group mb-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text min-w-user-edit">
                                {$text[aclGroup]}
                            </span>
                        </div>
                        <div class="input-group-append" style="flex-grow: 1;">
                            <select class="w-100" name="aclGroup" id="aclGroup">
                                <option value="0" {if $userEdit['aclGroup'] == 0 } selected="selected"{/if}>{$text['cteni']}</option>
                                <option value="1" {if $userEdit['aclGroup'] == 1} selected="selected"{/if}>{$text['zapis']}</option>
                                <option value="2" {if $userEdit['aclGroup'] == 2} selected="selected"{/if}>{$text['spravce']}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="input-group mb-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text min-w-user-edit">
                                {$text[aclSymbol]}
                            </span>
                        </div>
                        <div class="input-group-append" style="flex-grow: 1;">
                            <select class="w-100" name="aclSymbol" id="aclSymbol">
                                <option value="0" {if $userEdit['aclSymbol'] == 0 } selected="selected"{/if}>{$text['cteni']}</option>
                                <option value="1" {if $userEdit['aclSymbol'] == 1} selected="selected"{/if}>{$text['zapis']}</option>
                                <option value="2" {if $userEdit['aclSymbol'] == 2} selected="selected"{/if}>{$text['spravce']}</option>
                            </select>
                        </div>
                    </div>
                </div>
                {if $user['aclHunt'] > 0 }
                <div class="col-3">
                    <div class="input-group mb-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text min-w-user-edit">
                                {$text[aclHunt]}
                            </span>
                        </div>
                        <div class="input-group-append" style="flex-grow: 1;">
                            <select class="w-100" name="aclHunt" id="aclHunt">
                                <option value="0" {if $userEdit['aclHunt'] == 0 } selected="selected"{/if}>{$text['skryt']}</option>
                                <option value="1" {if $userEdit['aclHunt'] == 1} selected="selected"{/if}>{$text['zpristupnit']}</option>
                            </select>
                        </div>
                    </div>
                </div>
                {/if}
                {if $user['aclSecret'] > 0 }
                <div class="col-3">
                    <div class="input-group mb-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text min-w-user-edit">
                                {$text[aclSecret]}
                            </span>
                        </div>
                        <div class="input-group-append" style="flex-grow: 1;">
                            <select class="w-100" name="aclSecret" id="aclSecret">
                                <option value="0" {if $userEdit['aclSecret'] == 0 } selected="selected"{/if}>{$text['skryt']}</option>
                                <option value="1" {if $userEdit['aclSecret'] == 1} selected="selected"{/if}>{$text['zpristupnit']}</option>
                            </select>
                        </div>
                    </div>
                </div>
                {/if}
                {if $user['aclNews'] > 0 }
                <div class="col-3">
                    <div class="input-group mb-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text min-w-user-edit">
                                {$text[aclNews]}
                            </span>
                        </div>
                        <div class="input-group-append" style="flex-grow: 1;">
                            <select class="w-100" name="aclNews" id="aclNews">
                                <option value="0" {if $userEdit['aclNews'] == 0 } selected="selected"{/if}>{$text['ne']}</option>
                                <option value="1" {if $userEdit['aclNews'] == 1} selected="selected"{/if}>{$text['ano']}</option>
                            </select>
                        </div>
                    </div>
                </div>
                {/if}
                {if $user['aclBoard'] > 0 }
                <div class="col-3">
                    <div class="input-group mb-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text min-w-user-edit">
                                 {$text[aclBoard]}
                            </span>
                        </div>
                        <div class="input-group-append" style="flex-grow: 1;">
                            <select class="w-100" name="aclBoard" id="aclBoard">
                                <option value="0" {if $userEdit['aclBoard'] == 0 } selected="selected"{/if}>{$text['ne']}</option>
                                <option value="1" {if $userEdit['aclBoard'] == 1} selected="selected"{/if}>{$text['ano']}</option>
                            </select>
                        </div>
                    </div>
                </div>
                {/if}
                {if $user['aclAudit'] > 0 }
                <div class="col-3">
                    <div class="input-group mb-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text min-w-user-edit">
                                {$text[aclAudit]}
                            </span>
                        </div>
                        <div class="input-group-append" style="flex-grow: 1;">
                            <select class="w-100" name="aclAudit" id="aclAudit">
                                <option value="0" {if $userEdit['aclAudit'] == 0 } selected="selected"{/if}>{$text['skryt']}</option>
                                <option value="1" {if $userEdit['aclAudit'] == 1} selected="selected"{/if}>{$text['zpristupnit']}</option>
                            </select>
                        </div>
                    </div>
                </div>
                {/if}
                {if $user['aclGamemaster'] > 0 or $user['aclUser'] > 0 or $user['aclRoot'] > 0 }
                <div class="col-3">
                    <div class="input-group mb-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text min-w-user-edit">
                                {$text[aclUser]}
                            </span>
                        </div>
                        <div class="input-group-append" style="flex-grow: 1;">
                            <select class="w-100" name="aclUser" id="aclUser">
                                <option value="0" {if $userEdit['aclUser'] == 0} selected="selected"{/if}>{$text['ne']}</option>
                                <option value="1" {if $userEdit['aclUser'] == 1} selected="selected"{/if}>{$text['ano']}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                {/if}
                {if $user['aclGamemaster'] > 0 or $user['aclRoot'] > 0 }
                <div class="col-3">
                    <div class="input-group mb-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text min-w-user-edit">
                                {$text[aclGamemaster]}
                            </span>
                        </div>
                        <div class="input-group-append" style="flex-grow: 1;">
                            <select class="w-100" name="aclGamemaster" id="aclGamemaster">
                                <option value="0" {if $userEdit['aclGamemaster'] == 0} selected="selected"{/if}>{$text['ne']}</option>
                                <option value="1" {if $userEdit['aclGamemaster'] == 1} selected="selected"{/if}>{$text['ano']}</option>
                            </select>
                        </div>
                    </div>
                </div>
                {/if}
                {if $user['aclRoot'] > 0 }
                <div class="col-3">
                    <div class="input-group mb-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text min-w-user-edit">
                                {$text[aclRoot]}
                            </span>
                        </div>
                        <div class="input-group-append" style="flex-grow: 1;">
                            <select class="w-100" name="aclRoot" id="aclRoot">
                                <option value="0" {if $userEdit['aclRoot'] == 0} selected="selected"{/if}>{$text['ne']}</option>
                                <option value="1" {if $userEdit['aclRoot'] == 1} selected="selected"{/if}>{$text['ano']}</option>
                            </select>
                        </div>
                    </div>
                </div>
                {/if}
                {if $user['aclAPI'] > 0 or $user['aclRoot'] > 0}
                <div class="col-3">
                    <div class="input-group mb-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text min-w-user-edit">
                                {$text[aclAPI]}
                            </span>
                        </div>
                        <div class="input-group-append" style="flex-grow: 1;">
                            <select class="w-100" name="aclAPI" id="aclAPI">
                                <option value="0" {if $userEdit['aclAPI'] == 0} selected="selected"{/if}>{$text['ne']}</option>
                                <option value="1" {if $userEdit['aclAPI'] == 1} selected="selected"{/if}>{$text['ano']}</option>
                            </select>
                        </div>
                    </div>
                </div>
                {/if}
        </div>
        <div class="row mb-2">
            <div class="col-12 text-right">
                <input class="btn btn-primary mt-2 col-12 col-md-2" type="submit" name="insertuser" id="submitbutton" value="Uložit" />
            </div>
        </div>
    </form>
</div>
