<div class="container-fluid mt-3 mb-3 mr-2 w-100">
    <div class="row mb-1">
	    <div class="col-6 text-left">
	        <h4>
                {$text[vypisuzivatelu]}
            </h4>
	    </div>
        <div class="col-6 text-right">
        </div>
	</div>
    <div class="row mb-1">
        <div class="col-12">
            {if @$warning}
                <div>
                    {$warning}
                </div>
            {else}
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>
                                Jméno <a href="{$URL[0]}{$URL[1]}/?sort=surname">&#8661;</a>
                            </th>
                            <th>
                                Login <a href="{$URL[0]}{$URL[1]}/?sort=userName">&#8661;</a>
                            </th>
                            <th>
                                Práva
                            </th>
                            <th>
                                Poslední přihlášení <a href="{$URL[0]}{$URL[1]}/?sort=lastLogin">&#8661;</a>
                            </th>
                            <th>
                                Akce
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {foreach $user_record as $users}
                            <tr>
                                <td>
                                     <p>{$users['surname']}{$users['surname'] ? ',' } {$users['name']}</p>
                                </td>
                                <td>
                                    <strong>{$users['userName']}</strong>
                                </td>
                                <td>
                                    {if $users['aclRoot']}
                                        <span class="badge rounded-pill bg-dark text-light">{$text['aclRoot']}</span>
                                    {/if}
                                    {if $users['aclGamemaster']}
                                        <span class="badge rounded-pill bg-primary">{$text['aclGamemaster']}</span>
                                    {/if}
                                    {if $users['aclUser']}
                                        <span class="badge rounded-pill bg-success">{$text['aclUser']}</span>
                                    {/if}
                                    {if $users['aclNews']}
                                        <span class="badge rounded-pill bg-warning text-dark">{$text['aclNews']}</span>
                                    {/if}
                                    {if $users['aclBoard']}
                                        <span class="badge rounded-pill bg-warning text-dark">{$text['aclBoard']}</span>
                                    {/if}
                                    {if $users['aclSecret']}
                                        <span class="badge rounded-pill bg-danger text-light">{$text['aclSecret']}</span>
                                    {/if}
                                    {if $users['aclAudit']}
                                        <span class="badge rounded-pill bg-secondary text-light">{$text['aclAudit']}</span>
                                    {/if}
                                    {if $users['aclGroup']}
                                        <span class="badge rounded-pill bg-light text-dark">{$text['aclGroup']}</span>
                                    {/if}
                                    {if $users['aclPerson']}
                                        <span class="badge rounded-pill bg-light text-dark">{$text['aclPerson']}</span>
                                    {/if}
                                    {if $users['aclCase']}
                                        <span class="badge rounded-pill bg-light text-dark">{$text['aclCase']}</span>
                                    {/if}
                                    {if $users['aclHunt']}
                                        <span class="badge rounded-pill bg-light text-dark">{$text['aclHunt']}</span>
                                    {/if}
                                    {if $users['aclReport']}
                                        <span class="badge rounded-pill bg-light text-dark">{$text['aclReport']}</span>
                                    {/if}
                                    {if $users['aclSymbol']}
                                        <span class="badge rounded-pill bg-light text-dark">{$text['aclSymbol']}</span>
                                    {/if}
                                    {if $users['aclAPI']}
                                        <span class="badge rounded-pill bg-info text-dark">{$text['aclAPI']}</span>
                                    {/if}
                                </td>
                                <td>
                                    {$text['naposledy']}:
                                    {if $users['lastLogin']}
                                        <em>{$users['lastLogin']}</em>
                                    {else}
                                        <em>{$text[nikdy]}</em>
                                    {/if}
                                </td>
                                <td>
                                    <a class="btn btn-sm btn-brick btn-info mb-1" href="/users/edit/{$users['userId']}" alt="{$text[upravituzivatele]}">
                                        {php  echo file_get_contents("images/icons/edit-solid.svg")}
                                    </a>

                                    {if $users['userId'] != $user['userId']}
                                        <a class="btn btn-sm  btn-info mb-1" href="/users/reset/{$users['userId']}" onclick="return confirm('{$text['opravdugenerovatheslo']} {$users['userName']}?')">{$text[noveheslo]}</a>
                                        {if $users['userSuspended'] == "1"}
                                            <a class="btn btn-sm btn-brick btn-success mb-1 mr-1" href="/users/unlock/{$users['userId']}" onclick="return confirm('{$text['opravduodemnkout']} {$users['userName']}?')" alt="{$text[odemnkoutuzivatele]}">
                                            {php  echo file_get_contents("images/icons/lock-open-solid.svg")}</a>
                                        {else}
                                            <a class="btn btn-sm btn-brick btn-warning mb-1 mr-1" href="/users/lock/{$users['userId']}" onclick="return confirm('{$text['opravduzamknout']} {$users['userName']}?')" alt="{$text[zamknoutuzivatele]}">
                                            {php  echo file_get_contents("images/icons/lock-solid.svg")}</a>
                                        {/if}
                                        {if $users[userDeleted] == 0}
                                            <a class="btn btn-sm btn-brick btn-danger mb-1" href="/users/delete/{$users['userId']}" onclick="return confirm('{$text['opravdusmazat']} {$users['userName']}?')" alt="{$text[smazatuzivatele]}">
                                            {php  echo file_get_contents("images/icons/trash-solid.svg")}</a>
                                        {elseif $user['userDeleted'] == 1}
                                            <a class="btn btn-sm btn-brick btn-success mb-1" href="/users/restore/{$users['userId']}" onclick="return confirm('{$text['opravduobnovit']} {$users['userName']}?')" alt="{$text[obnovituzivatele]}">
                                            {php echo file_get_contents("images/icons/recycle.svg")}</a>
                                        {/if}
                                    {/if}
                                </td>
                            </tr>
                        {/foreach}
                    </tbody>
                </table>
            {/if}
        </div>
    </div>
</div>
